<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Chippy" %></h1>
  <p>Place your chips! Plan your sprints!</p>

</section>

<section class="row">
  <ul>
    <li>
      <a href="<%= Routes.page_path(@conn, :new) %>">
        Start a new sprint
      </a>
    </li>
    <li>Join an existing sprint</li>
    <ul>
    <%= for key <- @sprints do %>
        <li><a href="/s/<%= key %>">Sprint <%= key %></a></li>
    <% end %>
    </ul>
  </ul>
</section>
