
<section class="row">
  <%= form_for @conn, Routes.page_path(@conn, :profile), [as: :profile], fn f -> %>
    Name: <%= text_input f, :user_id, value: Plug.Conn.get_session(@conn, :user_id) %>
    <%= hidden_input f, :next, value: Map.get(@conn.query_params, "next", "") %>
    <%= submit "Save" %>
  <% end %>
</section>
