<form phx-change="lookup_name" phx-submit="create">
  <input type="text" name="name" placeholder="Sprint name" value="<%= @sprint_name %>" autofocus />
  
  <%= if @already_exists do %>
    <div class="error">Sorry, that name is taken!</div>
  <% end %>

  <%= if @other_errors != "" do %>
    <div class="error"><%= @other_errors %></div>
  <% end %>
</form>